[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 10.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 10.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 10.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 10.0
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 10.0
[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 10.0
